{%extends 'page/base.html'%}
{% load static %}
{% block content %}

<div class="container">
    <div class="row" style="margin-bottom: 50%">
         <div class="col-sm-6 col-md-8 col-xs-6">
        <img src="{{product.image_main.url}}" alt="">
            </div>
          <div class="col-md-4 col-sm-6 col-xs-6">
          <h3><i class="glyphicon glyphicon-music" ></i>{{product.name}}</h3>

         <h4> <i class="glyphicon glyphicon-map-marker"></i>  {{product.makan}}</h4></li>
           <h4><i class="glyphicon glyphicon-calendar"></i>  {{product.zaman}}</h4></li>
           <h4><i class="glyphicon glyphicon-user"></i> ظرفیت:تکمیل</h4></li>


    </div>
    </div>
</div>
    {%endblock%}