{%extends 'page/base.html'%}
{% load static %}
{% block content %}
<div class="container">
<div class="row">
{% if products%}
{% for product in products %}
  <div class="col-sm-6 col-md-4 ">
    <div class=" img-portfolio">
      <img src="{{product.image_main.url}}" alt="...">
      <div class="caption">
          <p>{{product.makan}}</p>
          <p>{{product.zaman}}</p>
        <p><a href="{{ product.get_absolute_url }}" class="btn btn-primary" role="button">مشاهده ی جزییات</a> </p>
      </div>
    </div>
  </div>
{% endfor %}{% else %}
<p>هیچ کنسرتی موجود نیست</p>{% endif %}
</div>
<!-- /.row -->


</div>
{% endblock  %}