{%extends 'page/base.html'%}
{% load static %}
{% block content %}


<div class="row col-md-8 col-md-offset-2 col-xs-10 col-xs-offset-1" style="margin-top: 40px;">

    <table class="table table-bordered" style="margin-bottom: 200px">
        <thead style="background-color: #a6e1ec;">
            <tr>
                <th>کنسرت</th>
                <th>تعداد بلیط</th>
                <th>بهای بلیط</th>
                <th>بهای کل</th>
                <th>مکان</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for item in cart %}
            {% with product=item.product %}
            <tr>
                <td>{{product.name}}</td>
                <td>{{item.quantity}}</td>
                <td>{{item.price}}</td>
                <td>{{item.total_price}}</td>
                <td>{{product.makan}}</td>
                <td> <div class=" btn " style="font-size: 30px">
        <a href="{%url 'order_create' %}">
          تایید
        </a></div></td>
            </tr>

            {%endwith%}
            {%endfor%}
        </tbody>
    </table>


   
{%endblock%}