{%extends 'page/base.html'%}
{% load static %}
{% block content %}
<div class="container">
<div class="row col-md-6 col-xs-10 col-md-offset-3 col-xs-offset-1" style="margin-top: 40px;margin-bottom: 60px;background-color: #f9f2f4">
    <ul>
        <li>
            <h4 style="color: #EF3B3A"><i class=" glyphicon glyphicon-map-marker "></i>آدرس شرکت </h4>
            <p>یزد خیابان مهدی</p>
        </li>
        <li>
            <h4 style="color: #EF3B3A;margin-top: 20px"><i class="glyphicon glyphicon-earphone"></i>شماره تماس </h4>

                <p>09133501501</p>
                <p>09135255568</p>
                <p>09302758844</p>


        </li>
        <li>
            <h4 style="color: #EF3B3A;margin-top: 20px"><i class=" glyphicon glyphicon-envelope " style="margin-left: 5px"></i>ارتباط با ایمیل </h4>
            <p>mohamadshariati@gmail.com</p>
        </li>
        <li>
            <h4 style="color: #EF3B3A;margin-top: 20px"><i class="glyphicon glyphicon-globe"></i> شبکه های اجتماعی</h4>
            <p>shadi_afarinan</p>
        </li>

    </ul>

</div>
</div>
{%endblock%}