{%extends 'page/base.html'%}
{% load static %}
{% block content %}
{% if user.is_authenticated%}
           {%for ticket in user.ticket_set.all%}
{% with order=ticket.order %}
           {% with product=ticket.product %}
<div class="row col-md-4 col-md-offset-4" style="margin-top: 40px;">
 <table class="table table-bordered ">
        <thead style="background-color: #4CAF50">
            <tr>
                <th>نام</th>
                <th>نام خانوادگی</th>
                <th>تعدادبلیط</th>
                <th>کنسرت</th>
                 <th>شماره بلیط</th>
                <th>چاپ</th>
            </tr>
        </thead>
      <tbody>

            <tr>
                <td>{{order.firstName}}</td>
                <td>{{order.lastName}}</td>
                <td>{{ticket.quantity}}</td>
                <td>{{product.name}}</td>
                <td>{{order.id}}</td>
                <th><a href="{{ order.get_absolute_url }}">
             چاپ
         </a></th>
            </tr>
 </tbody>
    </table>
</div>
{%endwith%}
            {%endwith%}
{%endfor%}

{%endif%}
{%endblock%}