{%extends 'page/base.html'%}
{% load static %}
{% block content %}<div class="container">
{% if user.is_authenticated%}
           {%for ticket in user.ticket_set.all%}
{% with order=ticket.order %}
           {% with product=ticket.product %}

<div class="row col-md-6 col-md-offset-3" style="margin-top: 40px;">
 <table class="table table-bordered ">
        <thead>
            <tr>
                <th>کنسرت</th>
                <th>نام و نام خانوادگی</th>
                <th>تعدادبلیط</th>
                 <th>شماره بلیط</th>
            </tr>
        </thead>
      <tbody>

            <tr>
                <td>{{product.name}}</td>
                <td>{{order.name}}</td>
                <td>{{ticket.quantity}}</td>
                <td>{{order.id}}</td>
                <th><a href="{{ order.get_absolute_url }}">
             دریافت بلیط
         </a></th>
            </tr>
 </tbody>
    </table>
</div>
{%endwith%}
            {%endwith%}
{%endfor%}

{%endif%}</div>
{%endblock%}